<div class="navigation-center">
        <button *ngFor="let item of items" 
                class="navigation-text" 
                mat-button 
                routerLink="{{ item.route }}">
                {{ item.name }}
        </button>
</div>

