/* You can add global styles to this file, and also import other style files */

//TODO: Relocate and refactor style

@use 'app/mangular-core/mangular-navigation/mangular-navigation.component.sass'

.example-card
  max-width: 400px
  background-color: grey
  margin: auto
  margin-top: 2em

.example-header-image
  background-image: url('app/icons8-nasa-48.png')
  background-size: cover

.card-image
  width: 100%
  margin: 1em auto

.card-text
  font-size: 1.2em

.center
  margin: auto

.text-center
  text-align: center

.nasa-link
  text-align: center
  margin-top: 5em
