<mat-spinner *ngIf="!values" class="center"></mat-spinner>
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ values.title }}</mat-card-title>
        <mat-card-subtitle>{{ values.date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-image" src="{{ values.url }}" alt="Photo of {{ values.title }}">
    <mat-card-content>
        <p class="card-text">
        {{ values.explanation }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>